// basics
$checked: #2196F3;
// // --------------------------------
// light gray theme
$bgColor:white;
$lightGray: #eee;
$gray: lightgray;
$color: black;
// --------------------------------
// // light blue theme
// $bgColor:white;
// $lightGray: #dffdff;
// $gray: #88eeee;
// $color: black;
// // --------------------------------
// // light green theme
// $bgColor:white;
// $lightGray: #b3e6ad;
// $gray: #46ea2d;
// $color: black;
// // --------------------------------
// // light yellow theme
// $bgColor:white;
// $lightGray: lightyellow;
// $gray: #ffc107;
// $color: black;
// // --------------------------------
// // dark theme
// $bgColor:black;
// $lightGray: #111;
// $gray: #333;
// $color: white;