<div class="container">
    <div class="title alert text-center">
        <i class="taskIcon fas fa-tasks fa-flip"></i>
        <!-- <i class="taskIcon fa-solid fa-pencil fa-flip"></i>  -->
        {{title}}
    </div>
    <app-items></app-items>
</div>
<!-- <router-outlet></router-outlet> -->
<footer class="justify-content-center">
    <div class="info">
        <p class="align-items-center">This made by
            <!-- <i class="fa fa-heart fa-flip"></i> -->
            <i class="fa-solid fa-heart fa-beat"></i>
            <!-- <i class="fa-solid fa-face-smile-hearts"></i> -->
            <a href="https://github.com/MuhammadBnAly">
                <span> Muhammad Ali</span>
            </a>
        </p>
    </div>
</footer>